In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
veriseti= pd.read_csv('data/Ogrenci_Performans.csv')
print(veriseti)

    Cinsiyet Ebeveyn Egitim Seviyesi Okul Yemekhanesi Ozel Ders  Matematik  \
0      Kadin           Lisans Mezunu              Yok       Yok         72
1      Kadin         Onlisans Mezunu              Yok       Var         69
2      Kadin    Yuksek Lisans Mezunu              Yok       Yok         90
3      Erkek         Onlisans Mezunu              Var       Yok         47
4      Erkek         Onlisans Mezunu              Yok       Yok         76
..       ...                     ...              ...       ...        ...
995    Kadin    Yuksek Lisans Mezunu              Yok       Var         88
996    Erkek             Lise Mezunu              Var       Yok         62
997    Kadin             Lise Mezunu              Var       Var         59
998    Kadin         Onlisans Mezunu              Yok       Var         68
999    Kadin         Onlisans Mezunu              Var       Yok         77

     Okuma  Yazma
0       72     74
1       90     88
2       95     93
3       57     44
4       78     75
..     ...    ...
995     99     95
996     55     55
997     71     65
998     78     77
999     86     86

[1000 rows x 7 columns]

In [107]:
veriseti.head()

,Cinsiyet,Ebeveyn Egitim Seviyesi,Okul Yemekhanesi,Ozel Ders,Matematik,Okuma,Yazma
0,Kadin,Lisans Mezunu,Yok,Yok,72,72,74
1,Kadin,Onlisans Mezunu,Yok,Var,69,90,88
2,Kadin,Yuksek Lisans Mezunu,Yok,Yok,90,95,93
3,Erkek,Onlisans Mezunu,Var,Yok,47,57,44
4,Erkek,Onlisans Mezunu,Yok,Yok,76,78,75

In [108]:
veriseti.isnull().sum()

Cinsiyet                   0
Ebeveyn Egitim Seviyesi    0
Okul Yemekhanesi           0
Ozel Ders                  0
Matematik                  0
Okuma                      0
Yazma                      0
dtype: int64

In [64]:
veriseti.columns

Index(['Cinsiyet', 'Ebeveyn Egitim Seviyesi', 'Okul Yemekhanesi', 'Ozel Ders',
       'Matematik', 'Okuma', 'Yazma'],
      dtype='object')

In [109]:
veriseti.info

<bound method DataFrame.info of     Cinsiyet Ebeveyn Egitim Seviyesi Okul Yemekhanesi Ozel Ders  Matematik  \
0      Kadin           Lisans Mezunu              Yok       Yok         72
1      Kadin         Onlisans Mezunu              Yok       Var         69
2      Kadin    Yuksek Lisans Mezunu              Yok       Yok         90
3      Erkek         Onlisans Mezunu              Var       Yok         47
4      Erkek         Onlisans Mezunu              Yok       Yok         76
..       ...                     ...              ...       ...        ...
995    Kadin    Yuksek Lisans Mezunu              Yok       Var         88
996    Erkek             Lise Mezunu              Var       Yok         62
997    Kadin             Lise Mezunu              Var       Var         59
998    Kadin         Onlisans Mezunu              Yok       Var         68
999    Kadin         Onlisans Mezunu              Var       Yok         77

     Okuma  Yazma
0       72     74
1       90     88
2       95     93
3       57     44
4       78     75
..     ...    ...
995     99     95
996     55     55
997     71     65
998     78     77
999     86     86

[1000 rows x 7 columns]>